# ===============================
# COMMON (root level)
# ===============================
node_modules/
.env
.env.*

# ===============================
# FRONTEND
# ===============================
frontend/node_modules/
frontend/.env
frontend/.env.*

# ===============================
# SERVER
# ===============================
server/node_modules/
server/.env
server/.env.*

# ===============================
# OPTIONAL (safe)
# ===============================
*.log
