.counselor-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.counselor-page h3 {
    font-size: 18px;
    color: grey;
    font-weight: lighter;
}

.counselor-page button {
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    background-color: #007aff;
    border-radius: 15px;
    padding: 7px 14px;
    color: white;
    cursor: pointer;
}

/* counselor info css */
.profile-card {
    width: calc(100% - 42px);
    background: #fff;
    border-radius: 18px;
    display: flex;
    padding: 20px;
    position: relative;
    border: 1px solid lightgrey;
    cursor: pointer;
    margin-bottom: 15px;
}

.profile-image img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 14px;
}

.profile-content {
    flex: 1;
    margin-left: 15px;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-header h2 {
    font-size: 26px;
    font-weight: 700;
}

.verified {
    color: #1e88e5;
    font-size: 18px;
    margin-left: 6px;
}

.rating {
    background: #f5f6fa;
    padding: 6px 12px;
    border-radius: 20px;
    font-weight: 600;
}

.rating span {
    color: #666;
    font-weight: 400;
}

.meta {
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    flex-wrap: wrap;
}
.meta span:nth-child(1){
    background-color: #fff3cd;
    padding: 5px 10px;
    border-radius: 50px;
    color: #b08500;
    font-size: 12px;
}
.meta span{
    color: black;
}
.qualification {
    margin-top: 5px;
    font-size: 14px;
    font-weight: lighter;
}

.about {
    margin-top: 10px;
    color: #6c757d;
}

/* addnew counselor css */
.addnew-counselor-sec {
    padding: 20px;
    border-radius: 20px;
    width: calc(100% - 40px);
    background: white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.addnew-counselor-sec form {
    width: 100%
}

.wrapper-counselor-sec {
    width: 100%;
    display: flex;
    height: 300px;
}

.c-image-sec {
    min-width: 270px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.c-image-sec img {
    width: 100%;
    height: 270px;
    border-radius: 100%;
}

.c-image-sec label {
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    font-size: 13px;
}

.c-info-sec {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inp-field {
    width: 24%;
    margin: 3px 0px;
}
.full-password{
    width: 49.5%;
}
.inp-field label {
    font-size: 14px;
    color: #6c757d;
}

.inp-field input {
    width: calc(100% - 20px);
    padding: 0px 10px;
    font-size: 14px;
    color: black;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: transparent;
    margin-top: 5px;
    height: 30px;
}

.inp-field select {
    width: 100%;
    margin-top: 5px;
    font-weight: lighter;
    height: 30px;
}
.inp-field select option{
    color: black;
    background-color: #eaeaea;
}

.warpper-counselor-full-sec {
    margin-top: 20px;
    width: 100%;
}

.warpper-counselor-full-sec textarea {
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid lightgrey;
    border-radius: 15px;
    margin: 15px 0px;
    font-size: 14px;
    resize: none;
}

.permanent-address-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adrs {
    width: 24%;
}

.bank-details-sec {
    margin-top: 15px;
}

#add-counselor-btn {
    margin-top: 15px;
    border: none;
    outline: none;
    background-color: orange;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}
.update-discard-btn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
}
.update-discard-btn button:nth-of-type(1){
    border: 2px solid orange;
    background-color: white;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 100px;
    margin-right: 5px;
    cursor: pointer;
}
.update-discard-btn button:nth-of-type(2){
    background-color: orange;
    color: black;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 100px;
    margin-right: 5px;
    border: 2px solid orange;
}
.update-discard-btn button:nth-of-type(3){
    background-color: orange;
    color:white;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 100px;
    margin-right: 5px;
    border: 2px solid orange;
}
/* counselorpermission .css */
.counselor-permissions{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
}
.permission-field{
    width: 30%;
    display: flex;
    align-items: center;
    margin: 5px 0px;
}
.permission-field label{
    font-size: 16px;
    color: #6c757d;
    margin-left: 5px;
}
.permission-field input{
    margin-top: 3px;
}